
#create-summ-page {

    margin-bottom: 100px;

    form {
        text-align: center;
    }

    .create-summ-form {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        
        @include devices(md) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }

        // input, textarea {

        //     &:hover, &:active, &:focus {
        //         outline: 4px solid var(--main-color-2);
        //     }
        // }

        .textarea-div {
            text-align: center;

            textarea {
                min-height: 350px;

                @include devices(md) {
                    min-height: 0;
                    height: 90%;
                }
            }
        }

        .media-div {
            margin-top: 40px;

            @include devices(md) {
                margin-top: 0;
            }
        }

    }

    button {
        margin-top: 30px;
        cursor: pointer;
            background-color: var(--main-color-2);
            color: var(--light-color-2);
            
            &:hover, &:active, &:focus {
                background-color: var(--dark-color-1);
            }
    }

}