
#create-summ-page {

    margin-bottom: 100px;
    margin-top: 50px;

    form {
        text-align: center;
    }

    .create-summ-form {
        @include flexbox(center, center);
        flex-direction: column;
        margin: 0 auto;
        margin-top: 20px;
        width: min(90vw, 500px);

        .textarea-div {
            text-align: center;
            width: 100%;

            textarea {
                min-height: 150px;
            }
        }

        .media-div {
            margin-top: 10px;
            width: 100%;

            .select-input-div {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 25px;

                .select-input-label {
                    margin-right: 20px;
                }

                .select-input {
                    min-width: 150px;
                    width: 40%;
                    text-align: center;

                    .select-input-option {
                        background-color: var(--light-color-1);
                    }
                }
            }
        }

    }

    button {
        margin-top: 30px;
        cursor: pointer;
        background-color: var(--main-color-2);
        color: var(--light-color-2);
            
        &:hover, &:active, &:focus {
            background-color: var(--dark-color-1);
        }
    }

}