#home-page {

  body,
  html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    font-weight: 400;
    width: 100% !important;
    height: 100% !important;
  }
  
  h2 {
    text-transform: uppercase;
    margin: 0 0 20px;
    font-weight: 800;
    font-size: 36px;
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
  }
  h5 {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
  }
  p {
    font-size: 15px;
  }
  p.intro {
    margin: 12px 0 0;
    line-height: 24px;
  }
  hr {
    height: 2px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #1e7a46;
    margin-bottom: 20px;
    border: 0;
  }

  .section-title {
    margin: 0 auto;
    margin-bottom: 40px;
    text-align: center;
  }
  .section-title h2 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .section-title h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, var(--main-color-1) 0%, var(--main-color-2) 100%);
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
  }
  .section-title p {
    font-size: 18px;
  }
  .btn-custom {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    padding: 14px 34px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    border: 0;
    color: var(--light-color-3);
    background-image: linear-gradient(to right, #cb7171 0%, #7a4d4d 100%);
    transition: all 0.5s ease;

    &:hover, &:active, &:focus {
        color: var(--light-color-1);
        background-image: none;
    }
  }

  .btn:active,
  .btn.active {
    background-image: none;
    outline: 0;
    padding: 12px 32px;
  }
  a:focus,
  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: none;
    outline-offset: none;
  }

  /* Header Section */
  .intro {
    display: table;
    width: 100%;
    padding: 0;
    background: url(../../public/img/intro-bg.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  .intro .overlay {
    background: rgba(0, 0, 0, 0.2);
  }
  .intro h1 {
    font-family: "Raleway", sans-serif;
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .intro h1 span {
    font-weight: 800;
  }
  .intro h2 {
    font-family: "Raleway", sans-serif;
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .intro h2 span {
    font-weight: 800;
  }
  .intro p {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
    text-align: center;
  }
  /* Features Section */
  #features {
    // margin-top: -9px;
    padding: 40px 0;
  }
  #features > h2{
    text-align: center;
  }
  #features .feature-items {
    @include flexbox(space-evenly, flex-start);
    flex-wrap: wrap;
    
    .feature-item {
      max-width: 250px;
      text-align: center;
    }

  }

  /* About Section */
  #about {
    padding: 100px 0;

    @include devices(lg) {
      padding: 35px 0;
    }
  }
  #about h3 {
    font-size: 22px;
    margin: 0 0 20px;
  }
  #about h2 {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  #about h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, var(--main-color-1) 0%, var(--main-color-2) 100%);
    height: 4px;
    width: 60px;
    bottom: 0;
    left: 0;
  }

  #about .about-items {
    @include flexbox(center, center);
    flex-wrap: wrap;
    
    .about-img, .about-content-div {
      width: 40%;
    }

    .about-img {
      padding-right: 10%;
    }
    
    @include devices(xl) {
      .about-img, .about-content-div {
        width: 100%;
      }
      
      .about-img {
        padding-right: 0;
        text-align: center;
      }

      .about-text {
        width: min(90vw, 500px);
        margin: 30px auto;
      }

    }
  }

  #about .about-text li {
    margin-bottom: 6px;
    margin-left: 6px;
    list-style: none;
    padding: 0;
  }
  #about .about-text li:before {
    content: "\21D2";
    font-family: "FontAwesome";
    color: var(--main-color-2);
    font-size: 18px;
    width: 50%;
    font-weight: 300;
    padding-right: 8px;
  }
  #about img {
    width: min(520px, 85vw);
    margin-top: 10px;
    background: #ccc;
    border-right: 0;
    border-radius: 15px;
    box-shadow: -5px 5px 5px 0 #555;
  }
  #about p {
    line-height: 24px;
    margin: 30px 0;
  }

  /* Services Section */
  #services {
    padding: 100px 0;
    background: linear-gradient(45deg, var(--dark-color-3) 0%, var(--light-color-6) 50%, var(--dark-color-3) 100%);
  }

  #services .section-title {
    margin-left: 0;
  }

  #services .service-desc {
    margin: 10px 10px 20px;
  }
  #services h2 {
    color: var(--dark-color-5);
  }
  #services .section-title h2::after {
    position: absolute;
    content: "";
    // background: rgba(255, 255, 255, 0.3);
    background: var(--dark-color-3);
    height: 4px;
    width: 60px;
    bottom: 0;
    margin-left: -30px;
    left: 50%;
  }
  #services h3 {
    font-weight: bolder;
    padding: 5px 0;
    color: var(--dark-color-4);
  }
  #services p {
    color: var(--light-color-2);
  }
  #services .service-desc {
    margin-bottom: 40px;
  }

  /* Gallery Section */
  #gallery {
    padding: 100px 0;
  }
  .gallery-items {
    padding: 0;
    @include flexbox(space-evenly, center);
    flex-wrap: wrap;
  }

  .gallery-item {
    height: fit-content;
    border-radius: 15px;
    margin: 10px;
  }

  .gallery-items .hover-bg {
    overflow: hidden;
    position: relative;
    margin: 0;
  }

  .hover-bg .hover-text {
    position: absolute;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    background: linear-gradient(
      to right,
      rgba(122, 77, 77, 0.8) 0%,
      rgba(203, 113, 113, 0.8) 100%
    );
    padding: 30% 0 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    border-radius: 15px;
  }

  .portfolio-item {
    img {
      width: 300px;
    }
  }

  .hover-bg .hover-text > h4 {
    opacity: 0;
    color: #fff;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .hover-bg:hover .hover-text > h4 {
    opacity: 1;
    --webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .hover-bg:hover .hover-text {
    opacity: 1;
  }

  /* Testimonials Section */
  #testimonials {
    padding: 100px 0;
  }
  #testimonials i {
    font-size: 32px;
    margin-bottom: 20px;
  }
  .testimonial {
    position: relative;
    padding: 20px;
  }
  .testimonial-image {
    float: left;
    margin-right: 15px;
  }
  .testimonial-image,
  .testimonial-image img {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }
  .testimonial-content {
    position: relative;
    overflow: hidden;
  }
  .testimonial-content p {
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
  }
  .testimonial-meta {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #666;
  }

  /* Team Section */
  #team {
    padding: 100px 0;
  }
  #team h4 {
    margin: 5px 0;
  }

  #team .team-div {
    @include flexbox(space-evenly, center);
    flex-wrap: wrap;
  }
  #team .team-img {
    height: 300px;
    width: 280px;
    white-space: nowrap;
    border-radius: 20px;
    box-shadow: -5px 5px 5px 0 #555;
  }
  #team .thumbnail {
    background: transparent;
    border: 0;
  }
  #team .thumbnail .caption {
    padding: 10px 0 0;
  }

  /* Contact Section */
  #contact {
    padding: 100px 0 60px;
    background: linear-gradient(to right, rgba(173, 98, 98, 0.9) 0%, rgba(152, 96, 96, 0.8) 100%);
    color: rgba(255, 255, 255, 0.75);
  }
  #contact .section-title {
    margin-bottom: 40px;
  }
  #contact .section-title p {
    font-size: 16px;
  }
  #contact h2 {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  #contact .section-title h2::after {
    position: absolute;
    content: "";
    background: linear-gradient(to right, var(--light-color-6) 0%, var(--light-color-6) 100%);
    height: 4px;
    width: 100px;
    bottom: 0;
    left: 47%;
  }
  #contact h3 {
    font-weight: 400;
  }
  #contact .btn-custom {
    margin: 30px 0;
    background: transparent;
    border: 2px solid #fff;
  }
  #contact .btn-custom:hover {
    color: #1f386e;
    background: #fff;
  }
  #contact .contact-info {
    max-width: 800px;
    margin: 0 auto;
  }
  #contact .contact-items {
    @include flexbox(space-between, center);
    flex-wrap: wrap;
  }
  #contact .contact-item {
    margin: 20px 0;
    min-width: 150px;
  }
  #contact .contact-item span {
    color: rgba(255, 255, 255, 1);
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .contact-icon {
      margin-right: 10px;
    }
  }
  #contact .contact-item i.fa {
    margin-right: 10px;
  }
  #contact .social {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    padding-top: 50px;
    margin-top: 50px;
    text-align: center;
  }
  #contact .social ul li {
    display: inline-block;
    margin: 0 20px;
    
    .social-icon {
      color: var(--light-color-3);

      &:hover {
        color: var(--light-color-1);
      }
    }
  }
  
  @media (max-width: 768px) {
    #about img {
      margin: 50px 0;
      white-space: nowrap;
    }
  }

}
