@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html,
body,
:root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  scroll-behavior: smooth;
}

.app {
  display: flex;
  position: relative;
  min-height: 100vh;
  // background-color: var(--light-color-2);
}

#about{
  margin: 20px;
}

#id{
  top: 50%;
  margin-left: 100px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: 1px solid rgb(132, 174, 219);
  padding-top: 10px;
}

