#navbar {

    .nav-links-btn {
        color: var(--light-color-3);

        &:hover {
            color: var(--light-color-1);
        }
    }

}

#side-bar {

    .list-item-icon, .list-item-text, .list-item {
        color: var(--light-color-3);

        &:hover {
            color: var(--light-color-1);
        }
    }

}

.get-started-btn {
    padding: 6px 20px;
    border-radius: 10px;
    border: 2px solid var(--light-color-3);
    background-color: inherit;
    color: var(--light-color-1);
    transition: all 0.5s ease;

    &:hover, &:active {
        background-color: var(--light-color-3);
        color: var(--main-color-1);
    }
}