#profile-page {
    margin-bottom: 100px;

    button {
        cursor: pointer;
        background-color: var(--main-color-2);
        color: var(--light-color-2);
        
        &:hover, &:active, &:focus {
            background-color: var(--dark-color-1);
        }
    }

    .view-recent-summaries {
        margin-top: 70px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        .view-recent-summaries-div {
            @include flexbox(center, center);

            .double-right-icon {
                font-size: 1.8em;
            }

            h5 {
                margin-bottom: 4px;
            }
        }
    }

    .person-details > .person-detail {
        @include flexbox(flex-start, flex-end);
        flex-wrap: wrap;
    }
}