
#recent-summaries {

    width: min(500px, 90vw);
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 15px;
    padding: 20px 0;
    color: var(--light-color-1);
    
    .section-header {
        @include flexbox(flex-start, center);
        padding-left: 15px;
        margin-bottom: 10px;
        h5 {
            margin-bottom: 0;
            margin-left: 10px;
         }
    }

    .summaries-list {
        
        .summaries-list-item {
            background-color: var(--light-color-3);
            padding: 15px 0 15px 40px;
            border-radius: 10px 30px 30px 10px;
            color: var(--dark-color-2);
            transition: all 0.5s ease;
            cursor: pointer;

            &:hover {
                color: var(--dark-color-6);
            }
        }

    }
}