#render-summary-page {
    margin-bottom: 100px;

    ::-webkit-scrollbar {
        width: 5px;
    }
    
    ::-webkit-scrollbar-track {
        background-color: var(--light-color-3);
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: var(--light-color-7);
        border-radius: 50px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--light-color-6);
    }

    .given-transcript-box {
        background-color: var(--light-color-5);
        color: var(--dark-color-6);        
    }

    
    #render-summary-cards {

        .summary-card {

            color: var(--dark-color-6);
            background-color: var(--light-color-5);
            border-radius: 15px;
            position: relative;

            &:hover {
                box-shadow: 0 0 10px 0 var(--main-color-2);
            }

            #share-alert {
                position: absolute;
                right: 10px;
                top: 70px;
                z-index: 999;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                height: 50px;
                border-radius: 20px;
            }

            .card-action-btn {
                position: absolute;
                color: var(--light-color-3);
                top: 18px;
                right: 20px;
                transition: all 0.5s ease;

                &:hover {
                    color: var(--light-color-2);
                }
            }

            .txt-to-speech-btn {
                right: 125px;
            }

            .copy-btn {
                right: 90px;
            }

            .share-btn {
                right: 55px;
            }

            .summary-header {

                text-align: center;
                
                @include devices(xs) {
                    text-align: left;
                }
                
                .MuiCardHeader-title {
                    color: var(--light-color-2);
                    @include devices(xs) {
                        margin-left: 20px;
                    }
                }
                
                .MuiCardHeader-subheader {
                    color: var(--light-color-3);
                    @include devices(xs) {
                        margin-left: 20px;
                    }
                }
            }

        }

        .swiper-pagination-bullet {
            background-color: var(--main-color-2);
        }

    }
}

#mail-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(90vw, 600px);
    background-color: var(--light-color-1);
    padding: 15px 10px;
    border-radius: 12px;

    input, textarea {
        width: 100%;
        padding: 10px;
        background-color: var(--light-color-1);
        border: none;
        border-radius: 5px;
        margin-bottom: 10px;
        font-size: 1.4em;
    }

    .message-input {
        max-height: 500px;
        overflow: auto;
    }

    .mail-modal-btn-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
