:root {
    --light-color-1: #f5e3e3;
    --light-color-2: #eadfdf;
    --light-color-3: #eac6c6;
    --light-color-4: #e0aaaa;
    --light-color-5: #d6bfbf;
    --light-color-6: #d58d8d;
    --light-color-7: #c1a0a0;
    --light-color-8: #ad8080;

    --main-color-1: #986060;
    --main-color-2: #cb7171;
    
    --dark-color-1: #a25a5a;
    --dark-color-2: #7a4d4d;
    --dark-color-3: #7a4444;
    --dark-color-4: #5b3a3a;
    --dark-color-5: #512d2d;
    --dark-color-6: #3d2626;
    --dark-color-7: #1e1313;
    --dark-color-8: #291717;
    
    --dark-color-9: #3d3d3d;
    --light-color-9: #e5e5e5;

}